html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, span, a, img, form, fieldset, label, table, th, td{
	margin: 0;
	padding:0;
}
body,html{
	font-size: 0.8vw;
	font-family:"Microsoft Yahei";
	background: white;
}
img{
	border:0;
}
a{
	text-decoration: none;
}
li{
	float: left;
	list-style: none;
}
.w{
	width: 1190px;
	margin: 0 auto;
}
#detailMain{
	overflow: hidden;
}
#detailMain-p1{
	height:28px;
	line-height: 28px;
}
#detailMain-p1 a{
	color: orange;
}
#detailMain-p1 a:hover{
	color: red;
}
#detailMian-left{
	float: left;
	width:1000px;

}

















